@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Michroma&family=Montserrat&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}
p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(70, 70, 70);
}

.navbar-brand img {
    width: 50px;
}

.container-fluid.m-4 {
    max-width: 100% !important;
}

.card {
    max-width: 100%;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

.card a {
    text-decoration: none;
    color: aquamarine;
}


.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);

}
.slide-text,
.footer-text
 {
    color: aquamarine;
    margin: auto auto;
}
footer {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}


.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.btn-outline-primary {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);

}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}